.navbarLayout {
  background-color: #8937be;
}
.navbarLayout ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.navbarLayout ul li {
  margin: 0;
  padding: 0;
  margin: 8px;
}

.rngColor {
  width: 20px;
  height: 10vh;
  display: inline-block;
}

.rngColor:nth-child(1) {
  background-color: rgb(224, 98, 59);
}

.rngColor:nth-child(2) {
  background-color: rgb(222, 117, 103);
}

.rngColor:nth-child(3) {
  background-color: rgb(89, 227, 7);
}

.rngColor:nth-child(4) {
  background-color: rgb(142, 72, 159);
}

.rngColor:nth-child(5) {
  background-color: rgb(214, 5, 207);
}

.rngColor:nth-child(6) {
  background-color: rgb(62, 87, 246);
}

.rngColor:nth-child(7) {
  background-color: rgb(11, 142, 119);
}

.rngColor:nth-child(8) {
  background-color: rgb(66, 116, 196);
}

.rngColor:nth-child(9) {
  background-color: rgb(32, 182, 47);
}

.rngColor:nth-child(10) {
  background-color: rgb(241, 191, 88);
}

.rngColor:nth-child(11) {
  background-color: rgb(191, 80, 225);
}

.rngColor:nth-child(12) {
  background-color: rgb(255, 97, 207);
}

.rngColor:nth-child(13) {
  background-color: rgb(254, 219, 245);
}

.rngColor:nth-child(14) {
  background-color: rgb(229, 140, 47);
}

.rngColor:nth-child(15) {
  background-color: rgb(141, 122, 249);
}

.rngColor:nth-child(16) {
  background-color: rgb(127, 205, 137);
}

.rngColor:nth-child(17) {
  background-color: rgb(159, 209, 78);
}

.rngColor:nth-child(18) {
  background-color: rgb(81, 86, 148);
}

.rngColor:nth-child(19) {
  background-color: rgb(208, 96, 73);
}

.rngColor:nth-child(20) {
  background-color: rgb(106, 140, 82);
}

.rngColor:nth-child(21) {
  background-color: rgb(101, 205, 219);
}

.rngColor:nth-child(22) {
  background-color: rgb(46, 15, 170);
}

.rngColor:nth-child(23) {
  background-color: rgb(33, 186, 96);
}

.rngColor:nth-child(24) {
  background-color: rgb(203, 87, 46);
}

.rngColor:nth-child(25) {
  background-color: rgb(64, 233, 231);
}

.rngColor:nth-child(26) {
  background-color: rgb(109, 15, 8);
}

.rngColor:nth-child(27) {
  background-color: rgb(10, 87, 159);
}

.rngColor:nth-child(28) {
  background-color: rgb(185, 14, 111);
}

.rngColor:nth-child(29) {
  background-color: rgb(38, 116, 161);
}

.rngColor:nth-child(30) {
  background-color: rgb(72, 230, 25);
}

.rngColor:nth-child(31) {
  background-color: rgb(146, 236, 74);
}

.rngColor:nth-child(32) {
  background-color: rgb(101, 102, 242);
}

.rngColor:nth-child(33) {
  background-color: rgb(122, 188, 107);
}

.rngColor:nth-child(34) {
  background-color: rgb(85, 6, 204);
}

.rngColor:nth-child(35) {
  background-color: rgb(216, 64, 182);
}

.rngColor:nth-child(36) {
  background-color: rgb(73, 231, 211);
}

.rngColor:nth-child(37) {
  background-color: rgb(107, 110, 206);
}

.rngColor:nth-child(38) {
  background-color: rgb(206, 161, 123);
}

.rngColor:nth-child(39) {
  background-color: rgb(7, 29, 21);
}

.rngColor:nth-child(40) {
  background-color: rgb(62, 14, 84);
}

.rngColor:nth-child(41) {
  background-color: rgb(51, 143, 19);
}

.rngColor:nth-child(42) {
  background-color: rgb(88, 205, 187);
}

.rngColor:nth-child(43) {
  background-color: rgb(147, 122, 115);
}

.rngColor:nth-child(44) {
  background-color: rgb(114, 246, 106);
}

.rngColor:nth-child(45) {
  background-color: rgb(191, 241, 233);
}

.rngColor:nth-child(46) {
  background-color: rgb(51, 99, 217);
}

.rngColor:nth-child(47) {
  background-color: rgb(59, 213, 157);
}

.rngColor:nth-child(48) {
  background-color: rgb(225, 84, 218);
}

.rngColor:nth-child(49) {
  background-color: rgb(142, 220, 194);
}

.rngColor:nth-child(50) {
  background-color: rgb(185, 183, 170);
}

#container {
  display: grid;
}
#container #themeBtn {
  width: 60px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px;
}
#container #content {
  text-align: center;
}
#container #content h2 {
  font-size: 3rem;
}

.light {
  background-color: rgb(244, 238, 238);
  color: #0b1111;
}

.dark {
  background-color: #242323;
  color: #dbdcdc;
}/*# sourceMappingURL=main.css.map */