.navbarLayout {
  background-color: #8937be;
}
.navbarLayout ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.navbarLayout ul li {
  margin: 0;
  padding: 0;
  margin: 8px;
}

.rngColor {
  width: 20px;
  height: 10vh;
  display: inline-block;
}

.rngColor:nth-child(1) {
  background-color: rgb(174, 130, 26);
}

.rngColor:nth-child(2) {
  background-color: rgb(106, 80, 191);
}

.rngColor:nth-child(3) {
  background-color: rgb(205, 248, 90);
}

.rngColor:nth-child(4) {
  background-color: rgb(59, 231, 112);
}

.rngColor:nth-child(5) {
  background-color: rgb(97, 138, 66);
}

.rngColor:nth-child(6) {
  background-color: rgb(2, 240, 239);
}

.rngColor:nth-child(7) {
  background-color: rgb(139, 206, 144);
}

.rngColor:nth-child(8) {
  background-color: rgb(184, 222, 34);
}

.rngColor:nth-child(9) {
  background-color: rgb(129, 241, 43);
}

.rngColor:nth-child(10) {
  background-color: rgb(63, 24, 204);
}

.rngColor:nth-child(11) {
  background-color: rgb(188, 52, 255);
}

.rngColor:nth-child(12) {
  background-color: rgb(252, 91, 24);
}

.rngColor:nth-child(13) {
  background-color: rgb(121, 4, 28);
}

.rngColor:nth-child(14) {
  background-color: rgb(98, 59, 218);
}

.rngColor:nth-child(15) {
  background-color: rgb(132, 12, 93);
}

.rngColor:nth-child(16) {
  background-color: rgb(80, 199, 75);
}

.rngColor:nth-child(17) {
  background-color: rgb(87, 196, 24);
}

.rngColor:nth-child(18) {
  background-color: rgb(224, 48, 200);
}

.rngColor:nth-child(19) {
  background-color: rgb(225, 92, 118);
}

.rngColor:nth-child(20) {
  background-color: rgb(54, 190, 245);
}

.rngColor:nth-child(21) {
  background-color: rgb(150, 244, 251);
}

.rngColor:nth-child(22) {
  background-color: rgb(254, 152, 246);
}

.rngColor:nth-child(23) {
  background-color: rgb(227, 215, 177);
}

.rngColor:nth-child(24) {
  background-color: rgb(149, 96, 77);
}

.rngColor:nth-child(25) {
  background-color: rgb(134, 17, 222);
}

.rngColor:nth-child(26) {
  background-color: rgb(127, 74, 225);
}

.rngColor:nth-child(27) {
  background-color: rgb(181, 190, 134);
}

.rngColor:nth-child(28) {
  background-color: rgb(193, 104, 236);
}

.rngColor:nth-child(29) {
  background-color: rgb(168, 80, 208);
}

.rngColor:nth-child(30) {
  background-color: rgb(171, 145, 173);
}

.rngColor:nth-child(31) {
  background-color: rgb(92, 160, 104);
}

.rngColor:nth-child(32) {
  background-color: rgb(28, 4, 51);
}

.rngColor:nth-child(33) {
  background-color: rgb(201, 210, 1);
}

.rngColor:nth-child(34) {
  background-color: rgb(142, 65, 232);
}

.rngColor:nth-child(35) {
  background-color: rgb(81, 232, 212);
}

.rngColor:nth-child(36) {
  background-color: rgb(126, 20, 160);
}

.rngColor:nth-child(37) {
  background-color: rgb(109, 89, 4);
}

.rngColor:nth-child(38) {
  background-color: rgb(105, 102, 201);
}

.rngColor:nth-child(39) {
  background-color: rgb(240, 161, 22);
}

.rngColor:nth-child(40) {
  background-color: rgb(111, 115, 137);
}

.rngColor:nth-child(41) {
  background-color: rgb(85, 27, 99);
}

.rngColor:nth-child(42) {
  background-color: rgb(191, 55, 110);
}

.rngColor:nth-child(43) {
  background-color: rgb(221, 248, 119);
}

.rngColor:nth-child(44) {
  background-color: rgb(216, 144, 105);
}

.rngColor:nth-child(45) {
  background-color: rgb(106, 232, 63);
}

.rngColor:nth-child(46) {
  background-color: rgb(48, 221, 210);
}

.rngColor:nth-child(47) {
  background-color: rgb(128, 69, 45);
}

.rngColor:nth-child(48) {
  background-color: rgb(86, 137, 235);
}

.rngColor:nth-child(49) {
  background-color: rgb(81, 139, 39);
}

.rngColor:nth-child(50) {
  background-color: rgb(188, 34, 151);
}

.light {
  background-color: rgb(244, 238, 238);
  color: #0b1111;
}

.dark {
  background-color: #242323;
  color: #dbdcdc;
}

#container {
  display: grid;
}
#container #themeBtn {
  width: 60px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px;
}
#container #content {
  text-align: center;
}
#container #content h2 {
  font-size: 3rem;
}/*# sourceMappingURL=main.css.map */