.navbarLayout {
  background-color: #8937be;
}
.navbarLayout ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.navbarLayout ul li {
  margin: 0;
  padding: 0;
  margin: 8px;
}

.rngColor {
  width: 20px;
  height: 10vh;
  display: inline-block;
}

.rngColor:nth-child(1) {
  background-color: rgb(25, 14, 141);
}

.rngColor:nth-child(2) {
  background-color: rgb(187, 45, 54);
}

.rngColor:nth-child(3) {
  background-color: rgb(183, 77, 182);
}

.rngColor:nth-child(4) {
  background-color: rgb(8, 243, 185);
}

.rngColor:nth-child(5) {
  background-color: rgb(212, 207, 192);
}

.rngColor:nth-child(6) {
  background-color: rgb(69, 155, 242);
}

.rngColor:nth-child(7) {
  background-color: rgb(226, 228, 177);
}

.rngColor:nth-child(8) {
  background-color: rgb(33, 170, 103);
}

.rngColor:nth-child(9) {
  background-color: rgb(12, 114, 222);
}

.rngColor:nth-child(10) {
  background-color: rgb(237, 230, 203);
}

.rngColor:nth-child(11) {
  background-color: rgb(181, 240, 87);
}

.rngColor:nth-child(12) {
  background-color: rgb(233, 38, 130);
}

.rngColor:nth-child(13) {
  background-color: rgb(218, 60, 15);
}

.rngColor:nth-child(14) {
  background-color: rgb(69, 120, 218);
}

.rngColor:nth-child(15) {
  background-color: rgb(229, 116, 70);
}

.rngColor:nth-child(16) {
  background-color: rgb(200, 129, 146);
}

.rngColor:nth-child(17) {
  background-color: rgb(176, 243, 202);
}

.rngColor:nth-child(18) {
  background-color: rgb(61, 166, 126);
}

.rngColor:nth-child(19) {
  background-color: rgb(178, 246, 53);
}

.rngColor:nth-child(20) {
  background-color: rgb(153, 145, 119);
}

.rngColor:nth-child(21) {
  background-color: rgb(191, 55, 139);
}

.rngColor:nth-child(22) {
  background-color: rgb(228, 220, 246);
}

.rngColor:nth-child(23) {
  background-color: rgb(53, 201, 35);
}

.rngColor:nth-child(24) {
  background-color: rgb(153, 143, 26);
}

.rngColor:nth-child(25) {
  background-color: rgb(247, 65, 185);
}

.rngColor:nth-child(26) {
  background-color: rgb(39, 86, 181);
}

.rngColor:nth-child(27) {
  background-color: rgb(38, 211, 70);
}

.rngColor:nth-child(28) {
  background-color: rgb(253, 108, 111);
}

.rngColor:nth-child(29) {
  background-color: rgb(228, 134, 157);
}

.rngColor:nth-child(30) {
  background-color: rgb(126, 24, 205);
}

.rngColor:nth-child(31) {
  background-color: rgb(166, 6, 86);
}

.rngColor:nth-child(32) {
  background-color: rgb(70, 245, 213);
}

.rngColor:nth-child(33) {
  background-color: rgb(253, 247, 127);
}

.rngColor:nth-child(34) {
  background-color: rgb(232, 178, 4);
}

.rngColor:nth-child(35) {
  background-color: rgb(49, 50, 9);
}

.rngColor:nth-child(36) {
  background-color: rgb(221, 190, 157);
}

.rngColor:nth-child(37) {
  background-color: rgb(25, 115, 186);
}

.rngColor:nth-child(38) {
  background-color: rgb(239, 6, 38);
}

.rngColor:nth-child(39) {
  background-color: rgb(93, 69, 92);
}

.rngColor:nth-child(40) {
  background-color: rgb(4, 87, 253);
}

.rngColor:nth-child(41) {
  background-color: rgb(232, 113, 189);
}

.rngColor:nth-child(42) {
  background-color: rgb(225, 4, 182);
}

.rngColor:nth-child(43) {
  background-color: rgb(210, 233, 140);
}

.rngColor:nth-child(44) {
  background-color: rgb(50, 82, 63);
}

.rngColor:nth-child(45) {
  background-color: rgb(24, 66, 242);
}

.rngColor:nth-child(46) {
  background-color: rgb(15, 244, 24);
}

.rngColor:nth-child(47) {
  background-color: rgb(113, 63, 96);
}

.rngColor:nth-child(48) {
  background-color: rgb(226, 241, 106);
}

.rngColor:nth-child(49) {
  background-color: rgb(250, 191, 138);
}

.rngColor:nth-child(50) {
  background-color: rgb(140, 111, 213);
}

.light {
  background-color: rgb(244, 238, 238);
  color: #0b1111;
}

.dark {
  background-color: #242323;
  color: #dbdcdc;
}

#container {
  display: grid;
}
#container #themeBtn {
  width: 60px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px;
}
#container #content {
  text-align: center;
}
#container #content h2 {
  font-size: 3rem;
}/*# sourceMappingURL=main.css.map */