@import "../../helpers/variables/variables.scss";
@import "../../theme/theme.scss";

// Styles main section
#container {
  display: grid;
  #themeBtn {
    width: 60px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: $margin-small;
    cursor: pointer;
    margin: $margin-small;
  }
  #content {
    h2 {
      font-size: 3rem;
    }
    text-align: center;
  }
}
