@use "../helpers/variables"; // Use variables in this file

// Styles main section
#container {
  display: grid;
  #themeBtn {
    width: 60px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: variables.$margin-small; // variable margin small
    cursor: pointer;
    margin: variables.$margin-small; // variable margin small
  }
  #content {
    h2 {
      font-size: 3rem;
    }
    text-align: center;
  }
}
