@import "./mixin.scss";
@import "./globals.scss";
@import "./theme.scss";

// Function to get a random color
// Creates three color values between 0-255 and returns an RGB value at the end
@function getRandomColor() {
  $red: random(255);
  $green: random(255);
  $blue: random(255);
  $color: rgb($red, $green, $blue);
  @return $color;
}

.rngColor {
  width: 20px;
  height: 10vh;
  display: inline-block;
}

// For loop that iterates through all .rngColor classes
@for $i from 1 through 50 {
  .rngColor:nth-child(#{$i}) {
    background-color: getRandomColor();
  }
}
.navbarLayout {
  ul {
    @include gridLayout(8, 2px);
    li {
      @include reset();
      margin: $margin-small;
    }
  }

  // Mixing colors together
  $color_red: #ef3a7d;
  $color_blue: #2233ff;

  $purple: mix($color_red, $color_blue, 50%);
  background-color: $purple;
}

#container {
  display: grid;
  #themeBtn {
    width: 60px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: $margin-small;
    cursor: pointer;
    margin: $margin-small;
  }
  #content {
    h2 {
      font-size: 3rem;
    }
    text-align: center;
  }
}
