@mixin gridLayout($numberOfCols: 4, $gapSize: 8px) {
  display: grid;
  grid-template-columns: repeat($numberOfCols, 1fr);
  gap: $gapSize;
  justify-content: center;
  align-items: center;
}

@mixin reset() {
  margin: 0;
  padding: 0;
}

@mixin image($image) {
  background-image: url("../image/" + $image);
  background-position: center;
  background-repeat: no-repeat;
}

@mixin layout {
  display: grid;
  justify-content: center;
  align-items: center;
}
