@import "../helpers/variables";

// Function to get a random color
// Creates three color values between 0-255 and returns an RGB value at the end
@function getRandomColor() {
  $red: random(255);
  $green: random(255);
  $blue: random(255);
  $color: rgb($red, $green, $blue);
  @return $color;
}

// Invert function that takes a color (RGB, HEX, Hsl and inverts that color) - works best for black/white colors
@function invertFunc($color) {
  $invertedColor: invert($color);
  @return $invertedColor;
}

// Returns the corrosponding theme color if passed either "dark" or "light" as a string
@function getThemeColor($theme) {
  @if $theme == dark {
    $color: $color_dark;
    @return $color;
  } @else if $theme == light {
    $color: $color_light;
    @return $color;
  }
}
