@import "../helpers/functions";

// Mixin to reset padding and margin
@mixin reset() {
  margin: 0;
  padding: 0;
}

// Mixin for setting background image - takes a variable $image and appends it to "root" path of url
@mixin image($image) {
  background-image: url("../image/" + $image);
  background-position: center;
  background-repeat: no-repeat;
}

// Theme styling mixin. Takes "theme" which is a string and sets bg-color and color
@mixin theme($theme) {
  background-color: getThemeColor($theme);
  color: invertFunc(getThemeColor($theme));
}
