// Colors used on site
$mainColor: rgb(246, 49, 252);
$offColor: rgb(42, 41, 32);

// Theme colors
$color_dark: #242323;
$color_light: rgb(244, 238, 238);

// Spacing
$margin-small: 8px;
$margin-large: 32px;
